[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq.git
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "vendor/github.com/op/go-logging"]
	path = vendor/github.com/op/go-logging
	url = https://github.com/op/go-logging.git
[submodule "vendor/github.com/mattes/migrate"]
	path = vendor/github.com/mattes/migrate
	url = https://github.com/mattes/migrate.git
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/github.com/gorilla/handlers"]
	path = vendor/github.com/gorilla/handlers
	url = https://github.com/gorilla/handlers.git
[submodule "vendor/github.com/justinas/alice"]
	path = vendor/github.com/justinas/alice
	url = https://github.com/justinas/alice.git
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid.git
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://github.com/golang/sys.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
